[flake8]
max-line-length = 80
max-complexity = 12
extend-ignore =
    # https://github.com/PyCQA/pycodestyle/issues/373
    E203
    # for flake8-bugbear
    E501
    # https://www.flake8rules.com/rules/W503.html
    W503
extend-select = B950
exclude =
    .git
    __pycache__
    var/
    */migrations/*
    build
    venv
