name: Release

concurrency:
  # Only one release job can run at a time
  group: ${{ github.workflow }}

on:
  release:
    types: [ published ]

jobs:
  release:
    name: Release Leukeleu Django GDPR

    runs-on: ubuntu-latest
    timeout-minutes: 10

    environment: pypi
    permissions:
      # IMPORTANT: this permission is mandatory for Trusted Publishing
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/python-setup
      - uses: ./.github/actions/python-lint
      - uses: ./.github/actions/python-test
      - name: Set version
        run: uv version ${GITHUB_REF#refs/tags/}
      - name: Build
        run: make build
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
